.letra {
    font-family: 'Akronim', cursive;
    font-size: 9em;
    color: #fff;
}

.letra2 {
    font-size: 2.2em;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

.tam {
    font-size: 1.3em;
    color: #fff;
}

.bg-title {
    background: url('../TrabalhoPW-1/img/ven.jpg') center center;
}

.corzin {
    background-color: #4bcffa;
}

.a {
    color: #0984e3;
}

.b {
    color: ;
}

.d {
    color: ;
}

.e {
    color: ;
}