.letra {
    font-family: 'Akronim', cursive;
    font-size: 9em;
    color: #fff;
}

.letra2 {
    font-size: 2.2em;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}

.tam {
    font-size: 1.3em;
    color: #fff;
}

.bg-title {
    background: url('../TrabalhoPW-1/img/esp.jpg');
    background-size: cover;
    background-position: center center;
}

.corzin {
    background-image: linear-gradient(to bottom right, #FC427B, #3B3B98);
    font-family: 'Audiowide', cursive;
}

.bg-nav {
    background-image: linear-gradient(to bottom right, #FC427B, #3B3B98);
}

.mt--5 {
    margin-top: -2rem;
}

.mt-n6 {
    margin-top: -4re;
}

.txtspn {
    z-index: 99;
    position: absolute;
    text-align: center;
    font-size: 1.6em;
    margin-left: 2.5rem;
}

.mdi-corzin-n {
    color: #fff;
}

.a {
    color: #0984e3;
}

.b {
    color: #9b59b6;
}

.d {
    color: #2ecc71;
}